.home-page-container{
  border: 2px solid  #ccc;
  padding: 17px;
  height: 103%;
}
.align{
  text-align: center;
}
.cards-container{
  display: flex;
  justify-content: center;
  gap: 20px;
}
.divider{
  width: 20%;
  border-left: 1px solid #110e0e;
}