<mat-card class="user-card" >
  <mat-card-header class="title-center">
    <mat-card-title>Add Users</mat-card-title>
  </mat-card-header>
  <mat-card-content class="body-center">
   <div class="flex-parent">
     <div>
       <mat-form-field class="example-form-field" >
         <mat-label>Clearable input</mat-label>
         <input matInput type="text" [(ngModel)]="value">
         <button *ngIf="value" matSuffix matIconButton aria-label="Clear" (click)="value = ''">
           <mat-icon>close</mat-icon>
         </button>
       </mat-form-field>
      </div>
     <section>
       <div class="example-button-row">
         <button matButton="outlined" (click)="addUser()">Add User</button>
       </div>
     </section>
    </div>
  </mat-card-content>
</mat-card>
</div>