.user-card{
  width: 400px;
  margin: 40px auto;
}
.center-align{
  display: flex;
  padding: 40px; 
  align-items: center;
  flex-direction:column;      
}
.title-center{
  margin-top: 10px;
  justify-content: center;
}
.flex-parent{
  display: flex;
  align-items: center;
}
.example-form-field {
  height: 70px;
  width: 200px;
 padding: 30px;
}
.example-button-row{
  white-space: nowrap;
  padding-bottom :20px;
}
