.center-align{
  display: flex;
  padding: 20px;        
}
.flex-parent{
  display: flex;
  align-items: center;
}
.example-form-field {
  height: 70px;
  width: 200px;
 padding: 30px;
}
.example-button-row{
  white-space: nowrap;
  padding-bottom :20px;
}
