mat-card {
  border: 1px solid #ccc;
  width: 500px;
}
.card-container {
  display: flex;
  justify-content: center;
  position: relative;
  top:100px;
}
.flex{
  display: flex;
  justify-self: center;
  margin-top:30px
}
.flex > div{
  flex:1;
}
.add-user-btn{
  position: relative;
  top:10px;
  margin-left: 20px;
}
.card-header{
  justify-content: center;
}