.center-align{
  display: flex;
  justify-content: center;
  align-content: center;
  margin-top: 80px;
  width: 100%; 
  text-align: center;         
}
.user-card{
  width:350px;
  border-radius: 12px;
  text-align: center;
  
}
.title-center{
display:flex;
justify-content: center;
}
.flex-parent{
  display:flex;
  gap: 20px;
  align-items: center;
  justify-content: space-between;
}

.example-form-field {
  height: 80px;
  width: 200px;

}