.dialog-title{
    text-align: center;
}
.dialog-subtitle{
    text-align: center;
}
mat-dialog-content{
    display: flex;
    flex-direction: column;
}
.form-width{
    width: 100%;
}
mat-dialog-actions{
    padding: 16px 0 ;
}