.user-card{
  width: 400px;
  margin: 40px;
}
.title-center{
  margin-top: 10px;
  justify-content: center;
}
.center-align {
  display: flex;
  align-items: center;
  flex-direction:column;
}
.value-align{
  text-align: left;
  width: 100%;
}
